<header>
    <nav class="navbar">
        <div class="navbar-menu">
            {{ range site.Menus.main }}
            <a href="{{ .URL }}">
                <div class="menu-item">
                    <div class="hengtiao-root">
                        <div class="hengtiao"></div>
                        <div class="name text-wbd-reverse">{{ .Pre }} {{ .Name }}</div>
                    </div>
                </div>
            </a>
            {{ end }}

            <div class="navbar-burger">
                <div class="burger-btn"><span><i class="fa fa-navicon">☰</i></span></div>
            </div>

            <div class="mode">
                <span class="sun"><i class="fa fa-sun-o">🌙 (Dark mode)</i></span>
                <span class="moon"><i class="fa fa-moon-o">☀️(Light mode)</i></span>
            </div>

        </div>
    </nav>

    <div class="burger-items">
        {{ range site.Menus.main }}
        <a href="{{ .URL }}">
            <div class="burger-item">
                {{ .Pre }} {{ .Name }}
            </div>
        </a>
        {{ end }}
    </div>

    <div class="header-rest"></div>

</header>